<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/add/" method="POST">
    <label for="url">url</label>
    <input type="text" name="url"><br>
    <label for="hackernews_url">hackernews_url</label>
    <input type="text" name="hackernews_url"><br>
    <label for="title">title</label>
    <input type="text" name="title"><br>
    <label for="upvotes">upvotes(no)</label>
    <input type="text" name="upvotes"><br>
    <label for="comments">comments(no)</label>
    <input type="text" name="comments"><br>
    <label for="posted_on">posted_on</label>
    <input type="text" name="posted_on"><br>
        <input type="submit" value="add">
    </form>
</body>
</html>