{% extends 'base.html' %}

{% block  content_style%}
ul#news_items a:visited {
            color: grey;
            background-color: transparent;
            text-decoration: none;
        }
{% endblock  %}

{% block content_body %}
    <div class="jumbotron">
    {% comment %} <h1>{{username}}</h1> {% endcomment %}
        <h1>Hacker News</h1>
        <p>Ripoff of https://news.ycombinator.com/</p>
    </div>
    <div class="container">
        <ul id="news_items" class="list-group">
            {% comment %} {% for item in news_items reversed %} {% endcomment %}
            {% for item in news_items %}
            <li class="list-group-item">
                <div>
                    <!-- <div class="card"> <div class="card-body"> -->
                    <!-- <h2>{{item.title}}</h2> -->

                    <h3><a href="{{ item.url }}">{{item.title}}</a></h3>



                    <!-- <h3><a href="{{ item.url }}">{{ item.url }}</a></h3> -->
                    <p><a href="{{ item.hacker_news_url }}">{{ item.hacker_news_url }}</a></p>
                    <!-- <p>Comments: {{ item.comment_count }}</p>
                    <p>Upvotes: {{ item.upvote_count }}</p>
                    <p>{{ item.posted_on }}</p> -->
                    <p>
                        <span>{{ item.posted_on }}</span> |
                        <span>Comments: {{ item.comment_count }}</span> |
                        <span>Upvotes: {{ item.upvote_count }}</span> |
                        <span>{{ item.id }}</span>
                    </p>
                    <div>
                        <button class="read-button btn">Mark as read</button>
                        <button class="hide-button btn">Hide</button>
                    </div>
                    <!-- </div></div> -->
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content_body %}



{% block content_script %}

<script>
    window.onload = function () {
        document.querySelector("#navbardrop").innerText="{{username}}";

        items = document.querySelector('#news_items')
        for (item of items.children) {
            // console.log(item.querySelector('.read-button'))
            hideButton = item.querySelector('.hide-button')
            // console.log(hideButton)

            hideButton.addEventListener('click', (e) => {
                pk = e.target.parentElement.parentElement.querySelector("p:nth-child(3) > span:nth-child(4)").innerText
                fetch(`/hide/${pk}/`, {
                    method: 'post',
                    // body: JSON.stringify(opts)
                }).then(function (response) {
                    // return response.json();
                    console.log(`sent hide req for ${pk}`)
                });
                e.target.parentElement.parentElement.parentElement.style.display = 'none'
            })

            readButton = item.querySelector('.read-button')
            // console.log(readButton)
            readButton.addEventListener('click', (e) => {
                // pk=e.target.parentElement.parentElement.querySelector("p:nth-child(3) > span:nth-child(4)").innerText
                // // console.log(e.target.parentElement.parentElement.parentElement)
                // fetch(`/read/${pk}/`, {
                //     method: 'post',
                //     // body: JSON.stringify(opts)
                // }).then(function (response) {
                //     // return response.json();
                //     console.log(`sent read req for ${pk}`)
                // });
                e.target.parentElement.parentElement.parentElement.querySelectorAll('a').forEach((each) => {
                    each.style.color = 'grey';
                    each.style.backgroundColor = 'transparent';
                    each.style.textDecoration='none'
                })
                // desired_url=e.target.parentElement.parentElement.parentElement.querySelector('a:nth-child(1)')
                // // # store the current URL
                // current_url = window.location.href
                // console.log(current_url)
    
                // // # use replaceState to push a new entry into the browser's history
                // // history.replaceState({}, "", desired_url)
                // history.replaceState(null,null, desired_url)

                // // # use replaceState again to reset the URL
                // // history.replaceState({}, "", current_url)
                // history.replaceState(null,null, current_url)
                e.target.parentElement.parentElement.parentElement.style.color = 'grey'
                e.target.parentElement.parentElement.parentElement.style.textDecoration='none'
                e.target.parentElement.parentElement.parentElement.style.backgroundColor = 'transparent';
                
            })
        }
    }


</script>

{% endblock content_script %}